@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@font-face {
	src: url('./fonts/Patriot-Medium.ttf');
	font-family: Patriot;
}

.patriot {
	font-family: Patriot;
}

html,
body {
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	background-color: #fff;
	width: 16px;
}

html::-webkit-scrollbar-track {
	background-color: #fff;
}

html::-webkit-scrollbar-thumb {
	background-color: #babac0;
	border-radius: 16px;
	border: 4px solid #fff;
}

html::-webkit-scrollbar-button {
	display: none;
}

.scrollbar::-webkit-scrollbar {
	background-color: #fff;
	width: 16px;
}

.scrollbar::-webkit-scrollbar-track {
	background-color: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: #babac0;
	border-radius: 16px;
	border: 4px solid #fff;
}

.scrollbar::-webkit-scrollbar-button {
	display: none;
}
.slider::-webkit-scrollbar-button {
	display: none;
}

.slider::-webkit-scrollbar {
	display: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.animation-down {
	animation: animation-down 0.3s;
}

.loader div:first-child {
	animation-delay: 0.1s;
}

.loader div:nth-child(2) {
	animation-delay: 0.2s;
}
.loader div:nth-child(3) {
	animation-delay: 0.3s;
}

@keyframes animation-down {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}

.animation-opacity {
	animation: animation-opacity 0.3s;
}

@keyframes animation-opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
